
<div class="container-fluid">
    <form #productForm="ngForm" class="was-validated" (ngSubmit)="onSubmit()"><!--template variable using # always-->
        <p>{{productForm.form.valid}} Valid form</p>
        <p>{{productForm.value|json}}</p>
        <div class="form-group">
            <label>Product Id </label>
            <input #id="ngModel" name="productId" type="number" placeholder="Enter Id" 
            class="form-control" [(ngModel)]="product.productId" required pattern="^\d{4}$"> 
            <div *ngIf="id.errors && (id.invalid || id.dirty)">
                <small *ngIf="id.errors.required" class="text-danger">Id is required</small>
                        <small *ngIf="id.errors.pattern" class="text-danger">Id is must be 4 digits</small>
            </div>
    
        </div>
        <div class="form-group">
                <label>Product Name </label>
                <input #nm="ngModel" name="name" type="text" placeholder="Enter Name" class="form-control" [(ngModel)]="product.name" required> 
                <div class="valid-feedback">valid</div>
                <div class="invalid-feedback">Please Fill out this value</div>
                <p>{{ nm.className }}</p>
                <p>Touch {{ nm.touched }}</p>
                <p>Pristine {{ nm.pristine }}</p>
                <p>Valid {{ nm.valid }}</p>
                <div *ngIf="nm.errors && nm.invalid"><small *ngIf="nm.errors.required">
                        Name is Required
                </small></div>
            </div>
            <div class="form-group">
                    <label>Product Brand </label>
                    <input #br="ngModel" name="brand" type="text" placeholder="Enter Brand" class="form-control" [(ngModel)]="product.brand" required>
                    <div *ngIf="br.errors && br.invalid">
                            <small *ngIf="br.errors.required" class="text-danger"> 
                            Brand is Required
                            </small>
                        </div>
                </div>
            <div class="form-group">
                    <label>Product Price </label>
                    <input #pr="ngModel" name="price" type="number" placeholder="Enter Price" 
                    class="form-control" [(ngModel)]="product.price" required pattern="^\d{10}$">
                    <div *ngIf="pr.errors && pr.invalid">
                            <small *ngIf="pr.errors.required" class="text-danger"> 
                            Price is Required
                            </small>
                            <small *ngIf="id.errors.pattern" class="text-danger">Price  must be 10 digits</small>
                        </div>
                    </div>
                          
        <button type="submit" [disabled]="productForm.form.invalid" class="btn-primary">Submit</button>
    </form>
</div>