<h1>{{ name|uppercase }}</h1>
<h1>{{ name|lowercase }}</h1>
<h1>{{ name|titlecase }}</h1>
<h1>{{ name|slice:3:5 }}</h1>
<h1>{{ name|slice:3 }}</h1>
<h1>{{ 6.2587|number:'3.3-4' }}</h1>
<h1>{{ 6.2587|number:'3.1-2' }}</h1>
<h1>{{ 0.25|percent }}</h1>
<h1>{{ 1234000|currency }}</h1>
<h1>{{ 1234000|currency:'GBP' }}</h1>
<h1>{{ 1234000|currency:'GBP':'code' }}</h1>
<h1>{{ 1234000|currency:'INR':'code' }}</h1>
<h1>{{ date }}</h1>
<h1>{{ date|date }}</h1>
<h1>{{ date|date:'short' }}</h1>
<h1>{{ date|date:'shortDate' }}</h1>
<h1>{{ date|date:'shortTime' }}</h1>
<h1>{{ date|date:'medium' }}</h1>
<h1>{{ date|date:'mediumDate' }}</h1>
<h1>{{ date|date:'mediumTime' }}</h1>
<h1>{{ date|date:'long' }}</h1>
<h1>{{ date|date:'longDate' }}</h1>
<h1>{{ date|date:'longTime' }}</h1>
<h1>{{ date|date:'full' }}</h1>
<h1>{{ date|date:'fullDate' }}</h1>
<h1>{{ date|date:'fullTime' }}</h1>
<h1>{{ date|date:'dd-MM-yyyy' }}</h1>
<h1>{{ date|date:'MMM, dd, yyyy' }}</h1>
<h1>{{ date|date:'dd/MM/yyyy' }}</h1>
<h1>{{ date|date:'dd-MMM-yyyy' }}</h1>
<h1>{{ date|date:'dd-MMMM-yyyy' }}</h1>
<h1>{{ name|reverseString }}</h1>

