<div class="container-fluid" style="width: fit-content;">
   <ngb-carousel *ngIf="image">
       <ng-template ngbSlide>
           <div class="picsum-img-wrapper">
                <!-- <img [src]="image[0]" alt="Random first slide"> -->
                <img src="../../assets/images/profilePhoto.jpg" alt="Random first slide">
           </div>
           <div class="carousel-caption">
               <h3>First Slide</h3>
               <p>first image</p>
           </div>
       </ng-template>
       <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
             <img src="../../assets/images/image2.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h3>Second Slide</h3>
            <p>second image</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
             <img [src]="image[2]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h3>Third Slide</h3>
            <p>third image</p>
        </div>
    </ng-template>
   </ngb-carousel> 
</div>