<h1>Welcome to Angular App</h1>
{{ title }}
<!-- <app-greeting></app-greeting>
<app-date-picker-test></app-date-picker-test>
<app-time-picker-test></app-time-picker-test>
<app-rating-test></app-rating-test>
<app-switch-test></app-switch-test>
<app-pipe-test></app-pipe-test>
<app-product-list></app-product-list> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link" routerLink= "/greet">Greeting</a></li>
        <li class="nav-item"><a class="nav-link" routerLink= "/product">Product</a></li>
        <li class="nav-item"><a class="nav-link" routerLink= "/date-picker">Date</a></li>
        <li class="nav-item"><a class="nav-link" routerLink= "/time-picker">Time</a></li>
        <li class="nav-item"><a class="nav-link" routerLink= "/rating">Rating</a></li>
        <li class="nav-item"><a class="nav-link" routerLink= "/switch">Switch</a></li>
        <li class="nav-item"><a class="nav-link" routerLink= "/pipe-test">Pipe</a></li>
        <li class="nav-item"><a class="nav-link" routerLink= "/carousel">Carousel</a></li>
        <li class="nav-item"><a class="nav-link" routerLink= "/product-form">Product Form</a></li>
    </ul>
</nav>
<router-outlet></router-outlet><!--Using this that sec is replaced by that component on clicking it will replace the previous component with new component-->
<app-footer></app-footer>